
CompiledBuild/test.txt
Assets/Scripts/.vs/slnx.sqlite
Assets/Scripts/.vs/slnx.sqlite
*.sqlite
Assets/Scripts/.vs/slnx.sqlite-journal
Assets/Scripts/.vs/slnx.sqlite
Assets/Scripts/.vs/VSWorkspaceState.json
Assets/Scripts/.vs/slnx.sqlite
Assets/Scripts/.vs/Scripts/v16/.suo
